<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Input para búsqueda futura -->
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Medico ..."
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<!-- Se muestra mientras cargan los hospitales -->
<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<!-- Se muestra cuando termina la carga -->
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <!-- Cantidad total de hospitales -->
            <h4 class="card-title">Total de Medicos: {{ medicos.length }}</h4>
            <h6 class="card-subtitle">Medicos registrados</h6>
          </div>

          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary" routerLink="/dashboard/medico/nuevo">
                <i class="fa fa-hospital-o"></i> Crear Medico
              </button>
            </div>
            <br />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <!-- Tu objeto no trae img, por eso mostramos el ID -->
                <th class="text-center">Foto</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <!-- Recorre todos los hospitales -->
              <tr *ngFor="let medico of medicos">
                <!-- Muestra el _id recibido desde el backend -->
                <td class="text-center">
                  <!-- {{ hospital.img ?? '' | imagen: 'hospitales' }} -->

                  <img
                    [src]="medico.img ?? '' | imagen: 'medicos'"
                    [alt]="medico.nombre"
                    class="avatar cursor"
                    (click)="abrirModal(medico)"
                  />
                </td>

                <td>
                  <!-- Muestra y permite editar el nombre -->
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese nombre del medico"
                    [(ngModel)]="medico.nombre"
                  />
                </td>

                <td class="text-center">
                  <a
                    [routerLink]="['/dashboard/medico', medico._id]"
                    data-toggle="tooltip"
                    class="cursor"
                    data-original-title="Guardar cambios"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a
                    (click)="eliminarMedico(medico)"
                    data-toggle="tooltip"
                    class="cursor"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button class="btn btn-secondary">Siguientes</button>
        &nbsp;
        <button class="btn btn-secondary">Anteriores</button>
      </div>
    </div>
  </div>
</div>
